<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container">
      
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span> Menu
        </button>
        <form action="#" class="searchform order-lg-last">
          <div class="form-group d-flex">
            <input type="text" class="form-control pl-3" placeholder="Search">
            <button type="submit" placeholder="" class="form-control search"><span class="fa fa-search"></span></button>
          </div>
        </form>
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a href="{{ url_for('home') }}" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Page</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="#">Page 1</a>
                <a class="dropdown-item" href="#">Page 2</a>
                <a class="dropdown-item" href="#">Page 3</a>
                <a class="dropdown-item" href="#">Page 4</a>
              </div>
            </li>
            <li class="nav-item"><a href="{{ url_for('search') }}" class="nav-link">Search</a></li>
            <li class="nav-item"><a href="{{ url_for('api') }}" class="nav-link">API</a></li>
            
          </ul>
        </div>
        <div class="navbar-nav">
              {% if session['logged_in']%}
              <a class="nav-item nav-link" href="#">Welcome, {{session['username']}}</a>
              {% endif%}
              <a class="nav-item nav-link" href="{{ url_for('search') }}">Search</a>
              
              <a class="nav-item nav-link" href="{{ url_for('api') }}">API</a>
              
              {% if not session['logged_in']%}
               <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
              <a class="nav-item nav-link" href="{{ url_for('signup') }}">Register</a>
              {%else%}
              <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% endif %}
            </div>
      </div>
    </nav>